<div id="top-main-view">                        
            <nav class="nav-section">
                <a routerLink="/employer-profile-page" id="main-view-employer-profile-anchor" class="nav-link green-btn">Employer Profile (Displayed if no profile entered)</a>
                <a routerLink="/applicant-profile-page" id="main-view-applicant-profile-anchor" class=" nav-link green-btn">Applicant Profile (Displayed if no profile entered)</a>
            </nav>
        </div>
        <table id="table-main-view">
            <thead>
                <tr>
                    <th>Role Category</th>
                    <th>Role</th>
                    <th>Location</th>
                    <th>Industry</th>
                    <th>Function</th>
                    <th>Job Title</th>
                    <th>Experience</th>
                    <th>Salary</th>
                    <th>Details / Apply</th>
                </tr>
            </thead>
            <tbody id="tbody-main-view">            
                <tr *ngFor="let item of csvData">
                    <td>{{item ['Role Category'] }}</td>
                    <td>{{item ['Role'] }}</td>
                    <td>{{item ['Location'] }}</td>
                    <td>{{item ['Industry'] }}</td>
                    <td>{{item ['Function'] }}</td>
                    <td>{{item ['Job Title'] }}</td>
                    <td>{{item ['Experience'] }}</td>
                    <td>{{item ['Salary'] }}</td>
                    <td>
                        <button class= "nav-link green-btn nav-section" (click)="detailsBtn(item.Role ?? '')">Details</button> <!-- the rauter link is implemented at detailBtn() method -->
                    </td>
                </tr>
            </tbody>                        
        </table>