<div class="section-employer-profile">
        <div id="top-employer-profile">
            <form>
                <label for="employer-profile-welcome-name">Welcome: </label>
                    <span id="employer-profile-welcome-name" name="employer-profile-welcome-name">{{spanWelcomeName || 'Employer Name'}}</span>
                    <a routerLink="/main-view-employer-page" id="employer-profile-nav-link" class="nav-link green-btn" style="margin-left: 0px">Back(MVE)</a>
            </form>
            <img src="" id="employer-profile-picture-src" alt="Employer Profile Picture" style="height: 150px; width: auto" #imageElement/>
         </div>
        <form id="employer-profile-form-table">
            <table id="table-employer-profile">
                <tr style="text-align: left;">
                    <th><label for="employer-profile-company-name">Company Name</label></th>
                    <th><input
                        type="text"
                        id="employer-profile-company-name"
                        name="employer-profile-company-name"
                        appSaveInputOnBlur />
                    </th>
                </tr>
                <tr style="text-align: left;">
                    <td><label for="employer-profile-company-website">Company Website</label></td>
                    <td><input 
                            type="text"
                            id="employer-profile-company-website"
                            name="employer-profile-company-website"
                            placeholder= "www.website-name.com"
                            title= "Please provide correct website domain name"
                            appSaveInputOnBlur
                            />
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td><label for="employer-profile-company-logo">Company Logo</label></td>
                    <td><input
                        type="file"
                        id="employer-profile-company-logo"
                        name="employer-profile-company-logo"
                        class="green-btn"
                        accept="image/*, .pdf, .doc, .docx, .webp"
                        [appSaveAndDisplayPicture] = "'employer-profile-company-logo'"
                        />
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td><label for="employer-profile-employer-name">Employer Name</label></td>
                    <td><input
                        type="text"
                        id="employer-profile-employer-name"
                        name="employer-profile-employer-name"
                        appSaveInputOnBlur
                        [(ngModel)]="employerNameInput"
                        (blur)="getEmployerProfileWelcomeName()"
                        />
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td><label for="employer-profile-phone">Phone Number:</label></td>
                    <td><input
                            type="text"
                            id="employer-profile-phone"
                            name="employer-profile-phone"
                            title="Please provide a vailed phone number"
                            placeholder="mobile phone"
                            appSaveInputOnBlur
                            [(ngModel)]="employerPhoneNrInput"
                            [phoneValidator]="employerProfilePhoneValidation.bind(this)"
                            />
                    </td>
                </tr>
                <tr style="text-align: left;">
                    <td><label for="employer-profile-email">Email</label></td>
                        <td><input 
                                type="email"
                                id="employer-profile-email"
                                name="employer-profile-email"
                                maxlength="32"
                                placeholder="userName@example.com"                                      
                                title="Please provide a vailed email address"
                                appSaveInputOnBlur
                                [(ngModel)]="employerEmailInput"
                                [emailValidator]="employeProfileEmailValidation.bind(this)"
                                />
                        </td>
                </tr>
                <tr style="text-align: left;">
                    <td><label for="employer-profile-picture-input">Profile Picture</label></td>
                    <td><input
                        type="file"
                        id="employer-profile-picture-input"
                        name="employer-profile-picture-input"
                        class="green-btn"
                        accept="image/*, .pdf, .doc, .docx"
                        [appSaveAndDisplayPicture]="'employer-profile-picture-src'"
                        />
                    </td>
                </tr>
            </table>
        </form>                                       
    </div>
