<div class="section-applicant-profile">
        <div id="top-applicant-profile">
            <form>
                <label for="applicant-profile-welcome-name">Welcome: </label>
                    <span id="applicant-profile-welcome-name" name="applicant-profile-welcome-name">{{spanWelcomeName ||'Applicant Name (Entered)'}}</span><br>                            
            </form>
                <div>
                    <img src="" id="applicant-profile-photo-src" alt="Applicant Photo" style="width: 100px; height: 70px" #imageReload>
                </div>
                        
                <!-- added Applicant CV link to download file if user attach the CV -->
                <nav>
                    <!-- anchor element reference (#cvAnchorLink); displays 'cvAnchorText' or fallback text to default text if it's empty - Angular -->
                    <a id="applicant-profile-CV-link" class="nav-link green-btn" #cvAnchorLink>{{cvAnchorText || 'No CV Available (Additional Button)'}}</a>
                </nav>
        </div>
        <nav class="nav-section">
            <a routerLink="/main-view-page" id="applicant-profile-nav-link" class="nav-link green-btn">Back(MV)</a>
        </nav>
        <form id="applicant-profile-form-table">
            <table id="table-applicant-profile">
                <tr style="text-align: left;">
                    <th><label for="applicant-profile-name">Applicant Name</label></th>
                    <th><input 
                            type="text" 
                            id="applicant-profile-name" 
                            name="applicant-profile-name"
                            [(ngModel)]="applicantProfileInputName"
                            (blur)="applicantProfileStoreWelcomeName()"
                            (change)="changeNameApplicantProfileAndClearLocalStorageKeys()">
                    </th>
                </tr>
                <tr style="text-align: left;">
                    <td><label for="applicant-phone">Phone Number</label></td>
                    <td><input 
                            type="text" 
                            id="applicant-phone" 
                            name="applicant-phone"
                            [(ngModel)]="applicantPhone"
                            [phoneValidator]="applicantValidateMobileInput.bind(this)"  
                            appSaveInputOnBlur
                            title="Please provide a valied phone number"
                            placeholder="mobile phone">
                    </td>
                    <!-- [(ngModel)]="applicantPhone" - two-way binding (very handy for keeping input and component methods and property in sync) -->
                    <!-- [phoneValidator]="applicantValidateMobileInput.bind(this)" - pass a reference to the applicantValidateMobileInput() method from the component to the custom directive input called phoneValidator.
                                                                                      .bind(this) ensures the method keeps the correct 'this' context. -->
                </tr>
                <tr style="text-align: left;">
                    <td> <label for="applicant-email">Email</label></td>
                    <td><input
                            type="email"
                            id="applicant-email"
                            name="applicant-email"
                            [(ngModel)]="applicantEmail"
                            appSaveInputOnBlur
                            [emailValidator]="applicantValidateEmailInput.bind(this)"
                            maxlength="32"
                            required                                            
                            placeholder="userName@example.com"                                        
                            title="Please provide a vailed email address">
                    </td>
                    <!-- "required" attribute - providing default value "Please fill in this field" when mice arrow hover the input bar -->
                    <!-- "title" attribute - deleting default value and providing other text instead (if title attribute contain one) -->

                </tr>
                <tr style="text-align: left;">
                    <td><label for="applicant-profile-picture">Profile Picture</label></td>
                    <td><input type="file" id="applicant-profile-picture" name="applicant-profile-picture" class="green-btn" accept="image/*, .pdf" [appSaveAndDisplayPicture]="'applicant-profile-photo-src'"></td>
                </tr>
                <tr style="text-align: left;">
                    <td> <label for="applicant-profile-cv">CV</label></td>
                    <td><input type="file" id="applicant-profile-cv" name="applicant-profile-cv" class=" green-btn" accept=".rtf, .pdf, .doc, .docx" #cvInput (change)="saveCvAtLocalStorageAndRestore()"></td>
                </tr>
            </table>
        </form>
    </div>