<div class="section-main-view-employer">
        <div id="top-main-view-employer">
            <img src="" id="main-view-employer-logo-img" alt="Company Logo loaded in the profile view" width= "auto" height="125px" style="margin-left: 30px" #companyLogoImageElement>
                <form id="form-welcome-main-view-employer">
                    <label for="main-view-employer-welcome-name">Welcome: </label>
                    <span
                        *ngIf="isEmployerName"
                        id="main-view-employer-welcome-name"
                        name="main-view-employer-welcome-name"
                        >
                        
                        {{ spanEmployerNameText }}
                    </span>
                    <span
                        *ngIf="!isEmployerName"
                        id="main-view-employer-welcome-name"
                        name="main-view-employer-welcome-name"
                        >
                        
                        {{ spanEmployerNameText }}
                    </span>                          
                    <a routerLink="/add-edit-job-employer-page" id="main-view-employer-add-new-job-anchor" class="nav-link green-btn">Add New Job</a>
                </form>
                <form id="form-authentication">
                    <input id="login-btn" class="green-btn" type="submit" value="Login"><br>
                    <nav class="nav-section">
                        <a routerLink="/employer-profile-page" id="main-view-employer-profile-href" class="nav-link green-btn">Profile</a>                                    
                    </nav>
                    <!-- adding Applicant Apply href if user apply for the job -->
                    <nav>
                        <a 
                            *ngIf="hasApplicants"
                            routerLink="/applicants-applies-page"
                            id="main-view-employer-applicant-applies-href"
                            class="nav-link green-btn"
                            >
                            
                            {{ applicantsAppliesAnchorText }}
                        </a>
                        <a 
                            *ngIf="!hasApplicants"
                            [routerLink]="null"
                            id="main-view-employer-applicant-applies-href"
                            class="nav-link grey-btn"
                            (click)="noApplicantAlert()"
                            >
                            
                           {{ applicantsAppliesAnchorText }}
                        </a>
                    </nav>
                </form>                                                
            <img src="" id="main-view-employer-picture-img" alt="Profile Picture loaded in the profile view" width="auto" height="125px" style="margin-right: 30px" #employerImageElement>
        </div>
        <table id="table-main-view-employer">
            <thead>
                <tr>
                    <th>Role Category</th>
                    <th>Role</th>
                    <th>Location</th>
                    <th>Industry</th>
                    <th>Function</th>
                    <th>Job Title</th>
                    <th>Experience</th>
                    <th>Salary</th>
                    <th>Manage Vacancy</th>
                    <th>Delete Job</th>
                </tr>
            </thead>
            <tbody id="tbody-main-view-employer">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <nav class="nav-section">
                            <a routerLink="/add-edit-job-employer-page" class="nav-link green-btn">Manage</a>
                        </nav>                                    
                    </td>
                    <td>
                        <div>
                            <button class="pink-btn">Delete</button>
                        </div>
                    </td>                               
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <nav class="nav-section">
                            <a routerLink="/add-edit-job-employer-page" class="nav-link green-btn">Manage</a>
                        </nav>
                    </td>
                    <td>
                        <div>
                            <button class="pink-btn">Delete</button>
                        </div>
                    </td>
                </tr>
                            
                <!-- Hiding "Add New Job" anchor button from table and move to the Top section of "Main View Employer" 
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <nav class="nav-section">
                            <a routerLink="/add-edit-job-employer-page" id="main-view-employer-add-new-job-anchor" class="nav-link green-btn">Add New Job</a>
                        </nav>
                    </td>                                
                </tr>
                -->

            </tbody>
        </table>
    </div>
