.dn-increase-border{
    border: 1px solid var(--dn-pink);
    padding: 40px;
    border-radius: 10px;
    margin-left: 65px;
    margin-right: 65px; 
}

#top-main-view {
    text-align: right;
}

#table-main-view{
    margin-top: 20px;
    width: 100%;
}