<h1 class="page-title">{{pageTitle}}</h1>

<div class="dn-increase-border">
    <a routerLink="/" class="nav-link-file-load pink-btn">File Load Page</a>
    <div id="section-main-view">
        <div id="top-main-view">                        
            <nav class="nav-section">
                <a routerLink="/employer-profile-page" id="main-view-employer-profile-anchor" class="nav-link green-btn">Employer Profile (Displayed if no profile entered)</a>
                <a routerLink="/applicant-profile-page" id="main-view-applicant-profile-anchor" class=" nav-link green-btn">Applicant Profile (Displayed if no profile entered)</a>
            </nav>
        </div>
        <table id="table-main-view">
            <thead>
                <tr>
                    <th>Role Category</th>
                    <th>Role</th>
                    <th>Location</th>
                    <th>Industry</th>
                    <th>Function</th>
                    <th>Job Title</th>
                    <th>Experience</th>
                    <th>Salary</th>
                    <th>Details / Apply</th>
                </tr>
            </thead>
            <tbody id="tbody-main-view">
            <!-- Data "tbody" inserted here via JavaScript 
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <nav class="nav-section">
                            <a routerLink="/applicant-job-display-view" class=" nav-link green-btn">Details</a>
                        </nav>
                    </td>                        
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <nav class="nav-section">
                            <a routerLink="/applicant-job-display-view" class=" nav-link green-btn">Details</a>
                        </nav>
                    </td>
                </tr>
            -->
            </tbody>                        
        </table>
    </div>
</div>