<div id="section-applicants-applies">
        <table>
            <thead>
                <tr>
                    <th>Role Category</th>
                    <th>Role</th>
                    <th>Location</th>
                    <th>Industry</th>
                    <th>Function</th>
                    <th>Job Title</th>
                    <th>Experience</th>
                    <th>Salary</th>
                    <th>Applicant Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Applicant Picture</th>
                    <th>CV</th>
                    <th>Delete Applicant</th>
                </tr>
            </thead>
            <tbody id="tbody-applicants-applies">
            <!-- Data "tbody" inserted here via JavaScript -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>                                                        
                    <td></td>                                                        
                    <td>
                        <img src="" id="applicant-applies-photo-src1" alt="Applicant Photo" style="width: 100px; height: 70px; display: none">
                    </td>
                    <td>
                    <!-- added Applicant CV link to download file if user attach the CV -->
                        <a id="applicant-applies-CV-link1" class="nav-link green-btn">No CV Available</a>
                    </td>                                                                                                
                    <td>
                        <button class="pink-btn">Delete</button>
                    </td>                                                       
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>                                                        
                    <td></td>                                                        
                    <td>
                        <img src="" id="applicant-applies-photo-src2" alt="Applicant Photo" style="width: 100px; height: 70px; display: none">
                    </td>
                    <td>
                    <!-- added Applicant CV link to download file if user attach the CV -->
                        <a id="applicant-applies-CV-link2" class="nav-link green-btn">No CV Available</a>
                    </td>
                    <td>
                        <button class="pink-btn">Delete</button>
                    </td>                                                       
                </tr>
            </tbody>                        
        </table>
    </div>
