<div id="section-applicants-applies">
        <table>
            <thead>
                <tr>
                    <th>Role Category</th>
                    <th>Role</th>
                    <th>Location</th>
                    <th>Industry</th>
                    <th>Function</th>
                    <th>Job Title</th>
                    <th>Experience</th>
                    <th>Salary</th>
                    <th>Applicant Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Applicant Picture</th>
                    <th>CV</th>
                    <th>Delete Applicant</th>
                </tr>
            </thead>
            <tbody id="tbody-applicants-applies">
            <!-- Data "tbody" inserted here via JavaScript -->
                <tr *ngFor="let item of iApplicantProfileAndJobDisplayView">
                    <td>{{item ['Role Category']}}</td>
                    <td>{{item ['Role']}}</td>
                    <td>{{item ['Location']}}</td>
                    <td>{{item ['Industry']}}</td>
                    <td>{{item ['Function']}}</td>
                    <td>{{item ['Job Title']}}</td>
                    <td>{{item ['Experience']}}</td>
                    <td>{{item ['Salary']}}</td>
                    <td>{{item ['Applicant Name']}}</td>
                    <td>{{item ['Applicant Phone Number']}}</td>                                                        
                    <td>{{item ['Applicant Email']}}</td>                                                        
                    <td>
                        <!-- handle the picture if exist -->
                        <ng-container *ngIf="item['Applicant Profile Picture']; else noPhoto">
                            <img [src]="item['Applicant Profile Picture']" id="applicant-applies-photo-src" alt="Applicant Photo" style="width: 100px; height: 70px; display: block"/>
                        </ng-container>
                        <ng-template #noPhoto>
                            <span>No Picture Provided</span>
                        </ng-template>                        
                    </td>
                    <td>
                    <!-- added Applicant CV link to download file if user attach the CV -->
                    <!-- & handle the CV if exist -->
                        <ng-container *ngIf="item['Applicant CV']; else noCV">
                            <a [href]="item['Applicant CV']" [download]="item['Applicant Name'] + '_CV'" id="applicant-applies-CV-link" class="nav-link green-btn">Downolad CV</a>
                        </ng-container>
                        <ng-template #noCV>
                            <span>No CV Available</span>
                        </ng-template>
                    </td>
                    <td>
                        <button (click)="deleteApplicantApply(item['Applicant Phone Number'])" class="pink-btn">Delete</button>
                    </td>                                                       
                </tr>                
            </tbody>                        
        </table>
    </div>
