<h1 class="page-title">{{pageTitle}}</h1>

            <div class="dn-border-add-edit-job-employer">
                <a routerLink="/" class="nav-link-file-load pink-btn">File Load Page</a>
                <div id="section-add-edit-job-employer">
                    <div id="top-welcome-add-edit-job-employer">
                        <form id="form-welcome-add-edit-job-employer">
                            <label for="welcome-add-edit-name">Welcome: </label>
                            <span id="welcome-add-edit-name" name="welcome-add-edit-name">Employer Name</span><br>
                            <button id="save-add-edit-btn" class="green-btn">Save (array / IDB / API) & Back(MVE)</button><br/>
                        </form>                        
                        <img src="" id="add-edit-job-employer-img" alt="Employer Profile Picture" style="height: 150px; width: auto">
                    </div>
                    <nav class="nav-section">
                        <a href="/main-view-employer-page" class="nav-link green-btn">Back(MVE)</a> 
                    </nav>
                    <form id="add-edit-job-employer-form-table">
                        <table id="table-add-edit-job-employer">
                            <tr style="text-align: left;">
                                <td><label for="add-edit-job-employer-role-category"></label>Role Category</td>
                                <td>
                                    <select id="add-edit-role-category-drop-down" class="green-btn">
                                        <option value="Select Role Category">Select Role Category</option>
                                        <option value="Advertising">Advertising</option>
                                        <option value="Programming & Design">Programming & Design</option>
                                        <option value="Corporate Planning/Consulting/Strategy">Corporate Planning/Consulting/Strategy</option>
                                        <option value="Online/Digital Marketing">Online/Digital Marketing</option>
                                        <option value="Accounts">Accounts</option>
                                        <option value="QA/Testing/Documentation">QA/Testing/Documentation</option>
                                        <option value="Machine Operator">Machine Operator</option>
                                        <option value="Project Management">Project Management</option>
                                        <option value="Retail Sales">Retail Sales</option>
                                        <option value="R&D">R&D</option>
                                        <option value="Admin/Maintenance/Security/Datawarehousing">Admin/Maintenance/Security/Datawarehousing</option>
                                    </select>
                                    (Preview only)                                                             
                                </td>
                            </tr>                        
                            <tr style="text-align: left;">
                                <td><label for="add-edit-job-employer-role">Role</label></td>
                                <td><input type="text" id="add-edit-job-employer-role" name="add-edit-job-employer-role"></td>
                            </tr>                        
                            <tr style="text-align: left;">
                                <td><label for="add-edit-job-employer-location">Location</label></td>
                                <td>
                                    <select id="add-edit-location-combo-box" class="green-btn">
                                        <option value="Select Location">Select Location</option>
                                        <option value="Leeds">Leeds</option>
                                        <option value="London">London</option>
                                        <option value="Bradford">Bradford</option>
                                        <option value="Huddersfield">Huddersfield</option>
                                        <option value="Manchester">Manchester</option>
                                        <option value="Liverpool">Liverpool</option>
                                        <option value="Harrogate">Harrogate</option>
                                        <option value="Hull">Hull</option>
                                        <option value="Doncaster">Doncaster</option>
                                        <option value="Birmingham">Birmingham</option>
                                    </select>
                                    (Preview only)                                       
                                </td>
                            </tr>                                             
                            <tr style="text-align: left;">
                                <td><label for="add-edit-job-employer-industry">Industry</label></td>
                                <td><input type="text" id="add-edit-job-employer-industry" name="add-edit-job-employer-industry"></td>
                            </tr>
                            <tr style="text-align: left;">
                                <td><label for="add-edit-job-employer-function">Function</label></td>
                                <td><input type="text" id="add-edit-job-employer-function" name="add-edit-job-employer-function" class></td>
                            </tr>
                            <tr style="text-align: left;">
                                <td><label for="add-edit-job-employer-job-title">Job Title</label></td>
                                <td><input type="text" id="add-edit-job-employer-job-title" name="add-edit-job-employer-job-title"></td>
                            </tr>
                            <tr style="text-align: left;">
                                <td><label for="add-edit-job-employer-experience">Experience</label></td>
                                <td><input type="text" id="add-edit-job-employer-experience" name="add-edit-job-employer-experience"></td>
                            </tr>
                            <tr style="text-align: left;">
                                <td><label for="add-edit-job-employer-salary">Salary</label></td>
                                <td><input type="text" id="add-edit-job-employer-salary" name="add-edit-job-employer-salary"></td>
                            </tr>
                        </table>
                    </form>                                            
                </div>
            </div>